@page "/rental/browser"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SurfsUpBlazor.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Browsing Rental Posts</PageTitle>
@if (RentalPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="container">
    <div class="row">
            @foreach (var rentalPost in RentalPosts)
            {
                <Card DisplayRentalPost="@rentalPost" Category="@rentalPost.Category" />
            }
        </div>
</div>
}

@code {

    // Load RentalPosts from database
    public List<RentalPost>? RentalPosts = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            RentalPosts = await Http.GetFromJsonAsync<List<RentalPost>>("RentalPost");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

        //// For getting an item based on the id
        //try
        //{
        //    RentalPostTest = await Http.GetFromJsonAsync<RentalPost>("RentalPost/1");
        //}
        //catch (AccessTokenNotAvailableException exception)
        //{
        //    exception.Redirect();
        //}
    }



    /* To Do:
    * Add sorting functionality (low priority)
    * Evt. features with login (low priority)
    */
}
